:root{
 --primarycolor :hsl(158, 36%, 37%);
--hovercolor: hsl(158, 42%, 18%);
--titlecolor: hsl(212, 21%, 14%);
--textcolor: hsl(228, 12%, 48%);
--backgorundcolor: hsl(30, 38%, 92%);
--whitecolor: hsl(0, 0%, 100%);
}

html{
    background-color: var(--backgorundcolor);
    font-family: 'Montserrat', sans-serif;
}

.card{
    background-color: var(--whitecolor);
    display: flex;
    margin: 140px auto;
    border-radius: 10px;
    max-width: 550px;
    gap: 25px;

}

.card .imagecontainer img{
min-width: 250px;
border-radius: 10px 0 0 10px;
width: 100%;
height: 100%;
}

.card .maincontainer {
    color: var(--textcolor);
   margin-top: 25px;
   padding-right: 20px;

}
.card .maincontainer h5{
font-weight: 500;
}

.card .maincontainer h1{
    font-family: 'fraunces', sans-serif;
    color: var(--titlecolor);
    font-weight: 700;
    line-height:1;
    margin-right: 20px;
    padding: 10px 0 20px;
}

.card .maincontainer h2{
    font-family: 'fraunces', sans-serif;
    padding: 20px 0 20px;
    color: var(--primarycolor);
    display: flex;
    align-items: center;
    line-height:1;
}
.card .maincontainer h2 span{
    text-decoration: line-through;
  margin-left: 20px;
    font-size: 14px;
   font-weight: 500;
}
.card .maincontainer button{
    background-color: var(--primarycolor);
    border: none;
    outline: none;
    color: var(--whitecolor);
    font-weight: 700;
    margin-bottom: 20px;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.card .maincontainer button img{
    margin-right: 10px;
}
.card .maincontainer button:hover{
    background-color: var(--hovercolor);
}